.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: #202123;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: end;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.7rem 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.nav-links:hover {
    background: #10a37f;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
}

.humburger {
    color: white;
}

.menu-icons {
    display: none;
}

@media screen and (max-width: 786px) {
    .NavbarItems {
        z-index: 99;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(32, 33, 35, 0.25);
        box-shadow: 0 8px 32px 0 rgba(32, 33, 35, 0.37);
        backdrop-filter: blur(4px);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.5s ease;
    }
    .nav-links {
        padding: 2rem 0;
        display: block;
        widows: 100%;
        color: #fff;
    }
    .menu-icons {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .menu-icons .hamburger-react {
        height: 28px !important;
    }
}